<div class="role-toggle-images">
  <div class="role-img" [class.active]="role === 'paciente'" (click)="setRole('paciente')">
    <img src="https://fuwqovndluczbpnnywse.supabase.co/storage/v1/object/public/images/register/paciente.webp"
      alt="Paciente">
    <label>Paciente</label>
  </div>

  <div class="role-img" [class.active]="role === 'especialista'" (click)="setRole('especialista')">
    <img src="https://fuwqovndluczbpnnywse.supabase.co/storage/v1/object/public/images/register/especialista.webp"
      alt="Especialista">
    <label>Especialista</label>
  </div>
</div>

<div class="container">
  <div class="wrapper" [ngClass]="role">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h1>Registrarse como {{ role | titlecase }}</h1>

      <!-- 🧑 Especialista -->
      <ng-container *ngIf="role === 'especialista'">
        <div class="input-box">
          <input type="text" formControlName="firstName" placeholder="Nombre">
          <i class='bx bxs-user'></i>
          <div class="error" *ngIf="registerForm.get('firstName')?.touched && registerForm.get('firstName')?.errors">
            <small *ngIf="registerForm.get('firstName')?.hasError('required')">El nombre es obligatorio.</small>
            <small *ngIf="registerForm.get('firstName')?.hasError('minlength')">El nombre debe tener al menos 3
              letras.</small>
          </div>
        </div>

        <div class="input-box">
          <input type="text" formControlName="lastName" placeholder="Apellido">
          <i class='bx bxs-user'></i>
          <div class="error" *ngIf="registerForm.get('lastName')?.touched && registerForm.get('lastName')?.errors">
            <small *ngIf="registerForm.get('lastName')?.hasError('required')">El apellido es obligatorio.</small>
            <small *ngIf="registerForm.get('lastName')?.hasError('minlength')">El apellido debe tener al menos 2
              letras.</small>
          </div>
        </div>

        <div class="input-box">
          <input type="number" formControlName="age" placeholder="Edad" (keypress)="soloNumeros($event)">
          <i class='bx bxs-cake'></i>
          <div class="error" *ngIf="registerForm.get('age')?.touched && registerForm.get('age')?.errors">
            <small *ngIf="registerForm.get('age')?.hasError('required')">La edad es obligatoria.</small>
            <small *ngIf="registerForm.get('age')?.hasError('min')">Debe ser mayor de 16 años.</small>
            <small *ngIf="registerForm.get('age')?.hasError('max')">Debe ser menor de 120 años.</small>
          </div>
        </div>

        <div class="input-box">
          <input type="number" formControlName="dni" placeholder="DNI" (keypress)="soloNumeros($event)">
          <i class='bx bxs-id-card'></i>
          <div class="error" *ngIf="registerForm.get('dni')?.touched && registerForm.get('dni')?.errors">
            <small *ngIf="registerForm.get('dni')?.hasError('required')">El DNI es obligatorio.</small>
            <small *ngIf="registerForm.get('dni')?.hasError('pattern')">El DNI debe tener 8 dígitos.</small>
          </div>
        </div>

        <div class="input-box">
          <input type="email" formControlName="email" placeholder="Email">
          <i class='bx bxs-envelope'></i>
          <div class="error" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors">
            <small *ngIf="registerForm.get('email')?.hasError('required')">El email es obligatorio.</small>
            <small *ngIf="registerForm.get('email')?.hasError('email')">Ingrese un email válido.</small>
          </div>
        </div>

        <div class="input-box">
          <input type="password" formControlName="password" placeholder="Clave">
          <i class='bx bxs-lock-alt'></i>
          <div class="error" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors">
            <small *ngIf="registerForm.get('password')?.hasError('required')">La clave es obligatoria.</small>
            <small *ngIf="registerForm.get('password')?.hasError('minlength')">La clave debe tener al menos 6
              caracteres.</small>
          </div>
        </div>

        <div class="input-box">
          <input type="password" formControlName="confirmPassword" placeholder="Confirmar clave">
          <i class='bx bxs-lock-alt'></i>
          <div class="error"
            *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.errors">
            <small *ngIf="registerForm.get('confirmPassword')?.hasError('required')">Debe confirmar su clave.</small>
            <small *ngIf="registerForm.hasError('passwordMismatch')">Las claves no coinciden.</small>
          </div>
        </div>

        <div class="input-box especialidades-container">
          <button type="button" class="btn btn-primary" (click)="abrirModal()">
            Seleccionar especialidad
          </button>
        </div>


        <div class="input-box file">
          <input type="file" id="photo" formControlName="photo" (change)="onFileSelected($event, 'photo')">
          <label for="photo" id="fileLabel">Seleccionar imagen de perfil</label>
          <i class='bx bxs-image'></i>
        </div>
      </ng-container>

      <!-- 🧍 Paciente -->
      <ng-container *ngIf="role === 'paciente'">
        <div class="input-box">
          <input type="text" formControlName="firstName" placeholder="Nombre">
          <i class='bx bxs-user'></i>
          <div class="error" *ngIf="registerForm.get('firstName')?.touched && registerForm.get('firstName')?.errors">
            <small *ngIf="registerForm.get('firstName')?.hasError('required')">El nombre es obligatorio.</small>
            <small *ngIf="registerForm.get('firstName')?.hasError('minlength')">Debe tener al menos 3 letras.</small>
          </div>
        </div>

        <div class="input-box">
          <input type="text" formControlName="lastName" placeholder="Apellido">
          <i class='bx bxs-user'></i>
          <div class="error" *ngIf="registerForm.get('lastName')?.touched && registerForm.get('lastName')?.errors">
            <small *ngIf="registerForm.get('lastName')?.hasError('required')">El apellido es obligatorio.</small>
            <small *ngIf="registerForm.get('lastName')?.hasError('minlength')">Debe tener al menos 2 letras.</small>
          </div>
        </div>

        <div class="input-box">
          <input type="number" formControlName="age" placeholder="Edad" (keypress)="soloNumeros($event)">
          <i class='bx bxs-cake'></i>
          <div class="error" *ngIf="registerForm.get('age')?.touched && registerForm.get('age')?.errors">
            <small *ngIf="registerForm.get('age')?.hasError('required')">La edad es obligatoria.</small>
            <small *ngIf="registerForm.get('age')?.hasError('min')">Debe ser mayor de 16 años.</small>
            <small *ngIf="registerForm.get('age')?.hasError('max')">Debe ser menor de 120 años.</small>
          </div>
        </div>

        <div class="input-box">
          <input type="number" formControlName="dni" placeholder="DNI" (keypress)="soloNumeros($event)">
          <i class='bx bxs-id-card'></i>
          <div class="error" *ngIf="registerForm.get('dni')?.touched && registerForm.get('dni')?.errors">
            <small *ngIf="registerForm.get('dni')?.hasError('required')">El DNI es obligatorio.</small>
            <small *ngIf="registerForm.get('dni')?.hasError('pattern')">Debe tener 8 dígitos.</small>
          </div>
        </div>

        <div class="input-box">
          <input type="email" formControlName="email" placeholder="Email">
          <i class='bx bxs-envelope'></i>
          <div class="error" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors">
            <small *ngIf="registerForm.get('email')?.hasError('required')">El email es obligatorio.</small>
            <small *ngIf="registerForm.get('email')?.hasError('email')">Ingrese un email válido.</small>
          </div>
        </div>

        <div class="input-box">
          <input type="password" formControlName="password" placeholder="Clave">
          <i class='bx bxs-lock-alt'></i>
          <div class="error" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors">
            <small *ngIf="registerForm.get('password')?.hasError('required')">La clave es obligatoria.</small>
            <small *ngIf="registerForm.get('password')?.hasError('minlength')">Debe tener al menos 6 caracteres.</small>
          </div>
        </div>

        <div class="input-box">
          <input type="password" formControlName="confirmPassword" placeholder="Confirmar clave">
          <i class='bx bxs-lock-alt'></i>
          <div class="error"
            *ngIf="registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.errors">
            <small *ngIf="registerForm.get('confirmPassword')?.hasError('required')">Debe confirmar su clave.</small>
            <small *ngIf="registerForm.hasError('passwordMismatch')">Las claves no coinciden.</small>
          </div>
        </div>

        <div class="input-box">
          <input type="text" formControlName="healtInsurance" placeholder="Obra social">
          <i class='bx bxs-heart'></i>
        </div>

        <div class="input-box file">
          <input type="file" id="photo" (change)="onFileSelected($event, 'photo')">
          <label for="photo">Seleccionar foto 1</label>
        </div>

        <div class="input-box file">
          <input type="file" id="photo2" (change)="onFileSelected($event, 'photo2')">
          <label for="photo2">Seleccionar foto 2</label>
        </div>

        <!--
        <re-captcha (resolved)="resolved($event)" formControlName="recaptcha"></re-captcha>
        <div *ngIf="!captchaToken && registerForm.valid && isSubmitted" style="color: red; margin-top: 10px;">
          Por favor, espera la verificación de reCAPTCHA.
        </div>-->

      </ng-container>

      <!--
    <ngx-recaptcha2 [siteKey]="siteKey" (success)="onCaptchaResolved($event)">
    </ngx-recaptcha2> -->

      <button class="btn" type="submit" [disabled]="registerForm.invalid || !captchaToken">Registrar</button>
    </form>
  </div>
</div>


<!-- Modal -->
<div class="modal" tabindex="-1" [class.show]="showModal" [style.display]="showModal ? 'block' : 'none'">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Especialidad</h5>
        <button type="button" class="btn-close" (click)="cerrarModal()"></button>
      </div>

      <div class="modal-body">
        <!-- Botones de especialidades -->
        <div class="especialidades-btns">
          <button type="button" *ngFor="let esp of especialidades" (click)="seleccionarEspecialidad(esp)"
            [class.active]="especialidadSeleccionada === esp">
            {{ esp }}
          </button>

          <!-- Botón "Otra" -->
          <button type="button" (click)="toggleOtraEspecialidad()" [class.active]="showOtraEspecialidad">
            Otra
          </button>
        </div>

        <!-- Input para otra especialidad -->
        <div *ngIf="showOtraEspecialidad" class="mt-3">
          <input type="text" formControlName="otraEspecialidad" placeholder="Especifique la especialidad">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="guardarEspecialidad()">
          Seleccionar especialidad
        </button>
      </div>
    </div>
  </div>
</div>