.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 1000;
}

.user{
  color: #f6d26c;
}

.actions {
  display: flex;
  gap: 1rem;
}

.btn-nav {
  padding: 6px 14px;
  border-radius: 20px;
  background: transparent;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-nav:hover {
  background: white;
  color: black;
}

.titulo{
    color: white;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 170px;
}

.btn-active{
  border: 1px solid white !important;
}