.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: rgba(20, 25, 35, 0.95);
  color: white;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  width: 700px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 5px;
}

.item {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 50%; /* 游댳 redondo */
  width: 150px;       /* 游댳 tama침o fijo del bot칩n */
  height: 150px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* para que nada sobresalga */
}

.item img {
  width: 90px;  /* 游댳 tama침o fijo de imagen */
  height: 90px;
  border-radius: 50%; /* imagen tambi칠n redonda */
  object-fit: cover;  /* recorta bien im치genes grandes */
  margin-bottom: 5px;
}

.item span {
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}

.item:hover {
  background-color: #20c997;
  transform: scale(1.1);
}
