.bienvenida {
  display: grid;
  place-items: center; /* centra el texto */
  position: relative;
  height: 300px;
  width: 550px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(35px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #000;
  border-radius: 10px;
  padding: 30px 40px;
  margin-top: 200px;
}

.cards{
  margin-top: 140px;
}

.bienvenida .btn {
  position: absolute;
  bottom: 20px; /* separa del borde inferior */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border: solid 1px #000;
  border-radius: 8px;
  cursor: pointer;
}

.bienvenida p {
  text-align: justify;
  font-style: italic; /* o 'oblique' si querés más inclinación */
  color: #000;
  margin: 0; /* opcional, para darle un poco de aire lateral */
  line-height: 1.5; /* mejora la lectura */
  margin-bottom: 40px;
}

.game-card {
  background-color: gray;
  backdrop-filter: blur(20px);
  border-radius: 50px;
  overflow: hidden;
  border: none;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  color: #ddd;
  height: 100%;
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.8);
}

.game-card .card-img-top {
  height: 250px;
  object-fit:contain;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
}

.game-card .card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #f6d26c;
  margin-bottom: 10px;
}

.game-card .card-text {
  font-size: 0.95rem;
  color: #ddd;
}