.bienvenida {
  display: grid;
  place-items: center; /* centra el texto */
  position: relative;
  height: 300px;
  width: 550px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(35px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #000;
  border-radius: 10px;
  padding: 30px 40px;
}

.bienvenida .btn {
  position: absolute;
  bottom: 20px; /* separa del borde inferior */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border: solid 1px #000;
  border-radius: 8px;
  cursor: pointer;
}

.bienvenida p {
  text-align: justify;
  font-style: italic; /* o 'oblique' si querés más inclinación */
  color: #000;
  margin: 0; /* opcional, para darle un poco de aire lateral */
  line-height: 1.5; /* mejora la lectura */
  margin-bottom: 40px;
}