.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: rgba(20, 25, 35, 0.95);
  color: white;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  width: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

button {
  background-color: #20c997;
  border: none;
  border-radius: 8px;
  padding: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #17a589;
  transform: scale(1.05);
}

.especialista {
  display: flex;
  flex-direction: column; /* 🔹 Imagen arriba, texto abajo */
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 15px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 10px; /* espacio entre botones */
  width: 100%;

  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }

  p {
    font-style: oblique;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
    letter-spacing: 0.5px;
  }

  &:hover {
    transform: scale(1.05);
    background: rgba(32, 201, 151, 0.3);
  }
}
