.central {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
  position: relative;
}

.texto {
  position: absolute;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  padding: 100px;
  z-index: 10;
}