.perfil-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* centra verticalmente en pantalla completa */
  background: none;
}

.perfil-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding: 30px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.4);
  color: #333;
}

.perfil-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.perfil-info {
  text-align: left;
  width: 100%;
}

.perfil-info p {
  font-size: 16px;
  margin: 8px 0;
  line-height: 1.4;
}

.perfil-info strong {
  color: #000;
}

.mis-horarios {
  margin-top: 20px;
  border-top: 2px solid #eee;
  padding-top: 15px;
}

.dias-container button,
.horas button {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #e0e0e0;
  transition: 0.3s;
}

button.activo {
  background-color: #4CAF50 !important;
  color: white;
}

.horas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.toggle-container {
  display: flex;
  justify-content: center;
  margin: 15px 0;

  button {
    background: rgb(113, 121, 126, .4);
    border: 1px solid #ccc;
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;

    &.active {
      background: #4a90e2;
      border-color: #4a90e2;
    }

    &:hover {
      background: rgba(74, 139, 220, 0.422);
    }
  }
}

.save {
  margin: 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #e0e0e0;
  transition: 0.3s;
}