.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('/assets/med-bg.jpg') no-repeat center/cover;
}

.card {
  background-color: rgba(20, 25, 35, 0.95);
  color: white;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
  width: 400px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

h2 {
  margin-bottom: 20px;
}

.info {
  text-align: left;
  margin: 20px 0;
  line-height: 1.8;
  font-size: 16px;
}

.acciones {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

button {
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.confirmar {
  background-color: #20c997;
}

.cancelar {
  background-color: #e74c3c;
}

.back{
  background-color: #17a589;
  transform: scale(1.05);
}

button:hover {
  transform: scale(1.05);
}
